---
title: Image stack 1
layout: plain
---
<% content_for :scripts do %>
  <%= javascript_include_tag "image_stack_001" %>
<% end %>

<div class="container">








  <div id="screen">
<!--   <img class="dataImage" id="dataImagea1" src="/img/a1.jpg" style="z-index: 1052;"><img class="dataImage" id="dataImagea2" src="/img/a2.jpg" style="z-index: 1051;"><img class="dataImage" id="dataImagea3" src="/img/a3.jpg" style="z-index: 1050;"><img class="dataImage" id="dataImagea4" src="/img/a4.jpg" style="z-index: 1049;"><img class="dataImage" id="dataImagea5" src="/img/a5.jpg" style="z-index: 1048;"><img class="dataImage" id="dataImagea6" src="/img/a6.jpg" style="z-index: 1047;"><img class="dataImage" id="dataImagea7" src="/img/a7.jpg" style="z-index: 1046;"><img class="dataImage" id="dataImagea8" src="/img/a8.jpg" style="z-index: 1045;"><img class="dataImage" id="dataImagea9" src="/img/a9.jpg" style="z-index: 1044;"><img class="dataImage" id="dataImagea10" src="/img/a10.jpg" style="z-index: 1043;"><img class="dataImage" id="dataImagea11" src="/img/a11.jpg" style="z-index: 1042;"><img class="dataImage" id="dataImagea12" src="/img/a12.jpg" style="z-index: 1041;"><img class="dataImage" id="dataImagea13" src="/img/a13.jpg" style="z-index: 1040;"><img class="dataImage" id="dataImagea14" src="/img/a14.jpg" style="z-index: 1039;"><img class="dataImage" id="dataImagea15" src="/img/a15.jpg" style="z-index: 1038;"><img class="dataImage" id="dataImagea16" src="/img/a16.jpg" style="z-index: 1037;"><img class="dataImage" id="dataImagea17" src="/img/a17.jpg" style="z-index: 1036;"><img class="dataImage" id="dataImagea18" src="/img/a18.jpg" style="z-index: 1035;"><img class="dataImage" id="dataImagea19" src="/img/a19.jpg" style="z-index: 1034;"><img class="dataImage" id="dataImagea20" src="/img/a20.jpg" style="z-index: 1033;"><img class="dataImage" id="dataImagea21" src="/img/a21.jpg" style="z-index: 1032;"><img class="dataImage" id="dataImagea22" src="/img/a22.jpg"><img class="dataImage" id="dataImagea23" src="/img/a23.jpg"><img class="dataImage" id="dataImagea24" src="/img/a24.jpg"><img class="dataImage" id="dataImagea25" src="/img/a25.jpg"><img class="dataImage" id="dataImagea26" src="/img/a26.jpg"><img class="dataImage" id="dataImagea27" src="/img/a27.jpg"><img class="dataImage" id="dataImagea28" src="/img/a28.jpg"><img class="dataImage" id="dataImagea29" src="/img/a29.jpg"><img class="dataImage" id="dataImagea30" src="/img/a30.jpg"><img class="dataImage" id="dataImagea31" src="/img/a31.jpg"><img class="dataImage" id="dataImagea32" src="/img/a32.jpg"><img class="dataImage" id="dataImagea33" src="/img/a33.jpg"><img class="dataImage" id="dataImagea34" src="/img/a34.jpg"><img class="dataImage" id="dataImagea35" src="/img/a35.jpg"><img class="dataImage" id="dataImagea36" src="/img/a36.jpg"><img class="dataImage" id="dataImagea37" src="/img/a37.jpg"><img class="dataImage" id="dataImagea38" src="/img/a38.jpg"><img class="dataImage" id="dataImagea39" src="/img/a39.jpg"><img class="dataImage" id="dataImagea40" src="/img/a40.jpg"><img class="dataImage" id="dataImagea41" src="/img/a41.jpg"><img class="dataImage" id="dataImagea42" src="/img/a42.jpg"><img class="dataImage" id="dataImagea43" src="/img/a43.jpg"><img class="dataImage" id="dataImagea44" src="/img/a44.jpg"><img class="dataImage" id="dataImagea45" src="/img/a45.jpg"><img class="dataImage" id="dataImagea46" src="/img/a46.jpg"><img class="dataImage" id="dataImagea47" src="/img/a47.jpg"><img class="dataImage" id="dataImagea48" src="/img/a48.jpg"><img class="dataImage" id="dataImagea49" src="/img/a49.jpg"><img class="dataImage" id="dataImagea50" src="/img/a50.jpg"><img class="dataImage" id="dataImagea51" src="/img/a51.jpg"><img class="dataImage" id="dataImagea52" src="/img/a52.jpg"><img class="dataImage" id="dataImagea53" src="/img/a53.jpg"> -->
  </div>

</div>
